.container {
    padding: 10px;
}

.button {
    display: inline-block;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
}

/* ------HEADER----- */

.page__header {
    background: url(../images/banner/banner.png) 50% 50% / cover no-repeat;
    color: white;
}

/* -----navigation----- */

.header__nav {
    padding: 10px;
    position: relative;
    background-color: #2C2C2C;
}

.nav__item {
    padding-left: 30px;
    line-height: 250%;
}

.nav__icon {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.nav__list {
    display: none;
}

.nav__link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.fa-chevron-down {
    margin-left: 20px;
}

.nav__switcher:checked+.nav__list {
    display: block;
}

.header-btn {
    display: none;
}

/* -----Header-main----- */

.header__title {
    margin-top: 40px;
    font-size: 34px;
    line-height: 120%;
}

.header__subtitle {
    margin-top: 20px;
    font-size: 18px;
}

.header__btn {
    display: inline-block;
    margin-top: 60px;
}

.header__image-box {
    margin-top: 80px;
    text-align: center;
}

.button--header {
    background-color: #37EBED;
}

/* -----FEATURES----- */

.features {
  color: #353535;
}

.features__title {
    font-size: 36px;
    text-align: center;
}

.features__list {
    margin: 40px auto;
    width: max(270px, 50%);
    text-align: center;
}

.features__icon-box {
    margin: 40px auto;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.features__icon-box--blue {
    background-color: #329BFB;
}

.features__icon-box--orange {
    background-color: #FD9B5D;
}

.features__icon-box--green {
    background-color: #76F4B2;
}

.features__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features__item {
    font-size: 26px;
}

.features__subtitle {
    margin-top: 80px;
    font-size: 36px;
}

.features__description {
    margin-top: 40px;
    font-size: 18px;
    line-height: 200%;
}

.features__btn {
    margin-top: 40px;
}

.button--features {
    background-color: #0181F5;
}

.features__image {
    margin: 40px 0;
}

/* -----OPINIONS----- */