html {
    font-size: 10px;
}

.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1440px;
}

.button {
    display: inline-block;
    padding: 15px 40px;
    min-width: max-content;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
}

/* ------HEADER----- */

.header {
    background: url(../images/banner/banner.png) center bottom / cover no-repeat;
    color: white;
}

/* -----navigation----- */

.header__nav {
    position: relative;
    padding: 10px;
    background-color: #2C2C2C;
}

.nav__item {
    font-size: 1.6rem;
    line-height: 250%;
}

.nav__icon {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 2.4rem;
}

.nav__list {
    display: none;
}

.nav__link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nav__link--lvl2 {
    padding-left: 40px;
}

.fa-chevron-down {
    display: none;
}

.nav__switcher:checked+.nav__list {
    display: block;
}

.header-btn {
    display: none;
}

/* -----Header-main----- */

.header__title {
    padding-top: 30px;
    font-size: 2.8rem;
    text-transform: capitalize;
}

.header__subtitle {
    margin-top: 20px;
    font-size: 1.6rem;
}

.header__btn {
    display: inline-block;
    margin-top: 60px;
}

.header__image-box {
    margin-top: 80px;
    text-align: center;
}

.header__image {
    max-width: 80%;
}

.button--header {
    background-color: #37EBED;
}

/* -----FEATURES----- */

.features {
    color: #353535;
}

.features__title {
    margin: 80px auto 0;
    font-size: 2.8rem;
    text-align: center;
}

.features__list {
    text-align: center;
}

.features__item {
    margin: 40px auto;
    width: max(260px, 50%)
}

.features__icon-box {
    position: relative;
    margin: 40px auto;
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.features__icon-box--blue {
    background-color: #329BFB;
}

.features__icon-box--orange {
    background-color: #FD9B5D;
}

.features__icon-box--green {
    background-color: #76F4B2;
}

.features__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features__item {
    font-size: 2.2rem;
}

.features__subtitle {
    margin-top: 80px;
    font-size: 2.8rem;
}

.features__description {
    margin-top: 40px;
    font-size: 1.6rem;
    line-height: 200%;
}

.features__btn {
    margin-top: 40px;
}

.button--features {
    background-color: #0181F5;
}

.features__image {
    display: block;
    margin: 40px auto;
}

/* -----OPINIONS----- */

.opinions-box {
    position: relative;
    min-height: 60vh;
    background: url(../images/banner/testmonial.png) 50% 50% / cover no-repeat;
    color: white;
    text-align: center;
}

.opinions-box__background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(50, 155, 251, 0.5);
}

.opinions-box__content-box {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.opinions-box__title {
    font-size: 2.8rem;
}

.opinion__content {
    margin-top: 20px;
    font-size: 1.6rem;
}

.opinion__stars {
    font-size: 1.4rem;
    color: gold;
}

.opinion__user-name {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.4rem;
    text-transform: uppercase;
}

/* ------PRICING----- */

.pricing {
    color: #353535;
}

.pricing__title {
    margin: 80px 40px 0;
    font-size: 2.8rem;
    text-align: center;
}

.pricing__subtitle {
    margin: 20px 40px 0;
    font-size: 1.6rem;
    text-align: center;
}

.pricing__plan {
    margin: 20px auto;
    max-width: 400px;
    border: 14px solid #FDFDFD;
    border-radius: 14px;
    font-size: 1.6rem;
    text-align: center;
}

.pricing__plan-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    line-height: 6rem;
    font-weight: bold;
}

.pricing__plan-header--first {
    background-color: rgba(52, 141, 245, .2);
    color: rgb(52, 141, 245);
}

.pricing__plan-header--second {
    background-color: rgba(253, 145, 94, .2);
    color: rgb(253, 145, 94);
}

.pricing__plan-header--third {
    background-color: rgba(55, 239, 141, .2);
    color: rgb(55, 239, 141);
}

.pricing__plan-title {
    font-weight: 700;
    color: #353535;
}

.pricing__plan-price {
    font-weight: 700;
}

.pricing__plan-info {
    margin-top: 40px;
}

.pricing__btn {
    margin: 40px;
}

.button--price {
    border: 1px solid rgb(52, 141, 245);
    background: transparent;
    color: rgb(52, 141, 245);
}

/* -----APP----- */

.app {
    background-color: #5DB2FF;
    text-align: center;
}

.app_container {
    padding: 80px 20px;
}

.app__title {
    padding: 10px 0;
    font-size: 2.8rem;
    text-align: center;
    color: white;
}

/* ------contact----- */

.contact-box {
    background-color: #1F1F1F;
    font-size: 1.6rem;
    color: #888;
}

.contact__container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact__info {
    margin: 20px 0;
}

.contact__title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 2rem;
    color: white;
}

.contact__list {
    display: flex;
    justify-content: flex-start;
}

.contact__icon {
    display: flex;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #444;
}

.fab {
    margin: auto;
}

.support {
    font-size: 1.6rem;
}

.support__title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 2rem;
    color: white;
}

.support__item {
    margin-top: 20px;
}

.support__link {
    text-decoration: none;
    color: #888;
}

/* -----FOOTER----- */

.footer {
    background-color: #000;
    font-size: 1.4rem;
    color: #888;
    text-align: center;
}

.footer__container {
    padding: 20px;
}

.footer__line {
    display: inline-block;
    margin: 0 5px;
    height: 1rem;
    border-left: 1px solid #888
}

.footer__company {
    color: royalblue;
}